In [32]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  robot
3  robot
4  human

In [16]:
unique_value = data['whoAmI'].unique()
unique_value

array(['human', 'robot'], dtype=object)

In [35]:
one_hot_df = data.copy()
# one_hot_df[['human', 'robot']] = None

In [39]:
for instance in unique_value:
    one_hot_df[instance] = (one_hot_df['whoAmI'] == instance).astype(int)

one_hot_df

   whoAmI  human  robot
0   robot      0      1
1   robot      0      1
2   robot      0      1
3   robot      0      1
4   human      1      0
5   robot      0      1
6   robot      0      1
7   human      1      0
8   human      1      0
9   human      1      0
10  robot      0      1
11  human      1      0
12  human      1      0
13  robot      0      1
14  human      1      0
15  human      1      0
16  human      1      0
17  robot      0      1
18  human      1      0
19  robot      0      1